<%= form_for(@guide) do |f| %>
  <% if @guide.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@guide.errors.count, "mistake") %> must be corrected</h3>
      <ul>
      <% @guide.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :neighborhood_id, class: "general-text-label" %><br>
    <label class="select">
    <%= grouped_collection_select(:guide, :neighborhood_id, @regions, :neighborhoods, :name, :id, :name) %>
    </label>
  </div>
  <div class="field">
    <%= f.label :title, class: "general-text-label" %><br>
    <%= f.text_field :title, class: "general-text-field" %>
  </div>
  <div class="field">
    <%= f.label :description, class: "general-text-label" %><br>
    <%= f.text_area :description, class: "general-text-area", rows: 3 %>
  </div>
  <div class="field">
    <%= f.label :cover_image, "Cover Image", class: "general-text-label" %><br>
    <%= f.file_field :cover_image, class: "form-control" %>
    <p class="form-help-block">Please upload the largest resolution of the file.</p>
  </div>
  <div class="field">
    <%= f.label :pull_quote, class: "general-text-label" %><br>
    <%= f.text_area :pull_quote, class: "general-text-area", rows: 3 %>
  </div>
  <div class="field">
    <%= f.label :pull_quote_author, class: "general-text-label" %><br>
    <%= f.text_field :pull_quote_author, class: "general-text-field" %>
  </div>
  <hr>
  <div class="actions">
    <%= f.submit "Submit", class: "button btn-black btn-2x" %>
  </div>
<% end %>
