<p>Illustrations are hosted in an Amazon S3 bucket. You can get larger versions of the illustrations by appending <code>2x/</code> after <code>illustrations/</code> in the URL. It is a best practice to always request the image over <code>https</code>.</p>
<pre>&lt;%= image_tag "https://nooklyn-files.s3.amazonaws.com/illustrations/" %&gt;</pre>
<div class="text-center">
  <div class="row">
    <div class="col-sm-6">
      <%= image_tag 'https://nooklyn-files.s3.amazonaws.com/illustrations/PoweredByNooklyn.png', class: "img-responsive center-block" %>
      <hr>
      <pre>PoweredByNooklyn.png</pre>
      <hr>
    </div>
    <div class="col-sm-6">
      <%= image_tag 'https://nooklyn-files.s3.amazonaws.com/illustrations/Neighborhoods.png', class: "img-responsive center-block" %>
      <hr>
      <pre>Neighborhoods.png</pre>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <%= image_tag 'https://nooklyn-files.s3.amazonaws.com/illustrations/SearchListings.png', class: "img-responsive center-block" %>
      <hr>
      <pre>SearchListings.png</pre>
      <hr>
    </div>
    <div class="col-sm-6">
      <%= image_tag 'https://nooklyn-files.s3.amazonaws.com/illustrations/UpdatedListings.png', class: "img-responsive center-block" %>
      <hr>
      <pre>UpdatedListings.png</pre>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <%= image_tag 'https://nooklyn-files.s3.amazonaws.com/illustrations/Photos.png', class: "img-responsive center-block" %>
      <hr>
      <pre>Photos.png</pre>
      <hr>
    </div>
    <div class="col-sm-6">
      <%= image_tag 'https://nooklyn-files.s3.amazonaws.com/illustrations/MobileApp.png', class: "img-responsive center-block" %>
      <hr>
      <pre>MobileApp.png</pre>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <%= image_tag 'https://nooklyn-files.s3.amazonaws.com/illustrations/ListRoom.png', class: "img-responsive center-block" %>
      <hr>
      <pre>ListRoom.png</pre>
      <hr>
    </div>
    <div class="col-sm-6">
      <%= image_tag 'https://nooklyn-files.s3.amazonaws.com/illustrations/BrowseRooms.png', class: "img-responsive center-block" %>
      <hr>
      <pre>BrowseRooms.png</pre>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <%= image_tag 'https://nooklyn-files.s3.amazonaws.com/illustrations/CreateProfile.png', class: "img-responsive center-block" %>
      <hr>
      <pre>CreateProfile.png</pre>
      <hr>
    </div>
    <div class="col-sm-6">
      <%= image_tag 'https://nooklyn-files.s3.amazonaws.com/illustrations/BrowseRoomies.png', class: "img-responsive center-block" %>
      <hr>
      <pre>BrowseRoomies.png</pre>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <%= image_tag 'https://nooklyn-files.s3.amazonaws.com/illustrations/EmailNotification.png', class: "img-responsive center-block" %>
      <hr>
      <pre>EmailNotification.png</pre>
      <hr>
    </div>
    <div class="col-sm-6">
      <%= image_tag 'https://nooklyn-files.s3.amazonaws.com/illustrations/Favorites.png', class: "img-responsive center-block" %>
      <hr>
      <pre>Favorites.png</pre>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <%= image_tag 'https://nooklyn-files.s3.amazonaws.com/illustrations/FriendlyAgents.png', class: "img-responsive center-block" %>
      <hr>
      <pre>FriendlyAgents.png</pre>
      <hr>
    </div>
    <div class="col-sm-6">
      <%= image_tag 'https://nooklyn-files.s3.amazonaws.com/illustrations/Registration.png', class: "img-responsive center-block" %>
      <hr>
      <pre>Registration.png</pre>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <%= image_tag 'https://nooklyn-files.s3.amazonaws.com/illustrations/FBVerification.png', class: "img-responsive center-block" %>
      <hr>
      <pre>FBVerification.png</pre>
      <hr>
    </div>
    <div class="col-sm-6">
      <%= image_tag 'https://nooklyn-files.s3.amazonaws.com/illustrations/FreeService.png', class: "img-responsive center-block" %>
      <hr>
      <pre>FreeService.png</pre>
      <hr>
    </div>
  </div>
</div>

<hr>
<div class="text-center">
  <div class="row">
    <div class="col-sm-6">
      <%= image_tag 'https://nooklyn-files.s3.amazonaws.com/illustrations/2x/guides/art.png', class: "img-responsive center-block" %>
      <hr>
      <pre>/2x/art.png</pre>
      <hr>
    </div>
    <div class="col-sm-6">
      <%= image_tag 'http://nooklyn-files.s3.amazonaws.com/illustrations/2x/guides/booze.png', class: "img-responsive center-block" %>
      <hr>
      <pre>/2x/booze.png</pre>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <%= image_tag 'https://nooklyn-files.s3.amazonaws.com/illustrations/2x/guides/coffee.png', class: "img-responsive center-block" %>
      <hr>
      <pre>/2x/coffee.png</pre>
      <hr>
    </div>
    <div class="col-sm-6">
      <%= image_tag 'https://nooklyn-files.s3.amazonaws.com/illustrations/2x/guides/food.png', class: "img-responsive center-block" %>
      <hr>
      <pre>/2x/food.png</pre>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <%= image_tag 'https://nooklyn-files.s3.amazonaws.com/illustrations/2x/guides/music.png', class: "img-responsive center-block" %>
      <hr>
      <pre>/2x/music.png</pre>
      <hr>
    </div>
    <div class="col-sm-6">
      <%= image_tag 'https://nooklyn-files.s3.amazonaws.com/illustrations/2x/guides/recreation.png', class: "img-responsive center-block" %>
      <hr>
      <pre>/2x/recreation.png</pre>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <%= image_tag 'https://nooklyn-files.s3.amazonaws.com/illustrations/2x/guides/shop.png', class: "img-responsive center-block" %>
      <hr>
      <pre>/2x/shop.png</pre>
      <hr>
    </div>
    <div class="col-sm-6">
      <%= image_tag 'https://nooklyn-files.s3.amazonaws.com/illustrations/2x/guides/transportation.png', class: "img-responsive center-block" %>
      <hr>
      <pre>/2x/transportation.png</pre>
      <hr>
    </div>
  </div>
</div>
