<% content_for :title, "About Nooklyn: Apartments, Roommates, Neighborhoods in Brooklyn" %>
<% content_for :description, "Founded in 2010, Nooklyn is how people find apartments, connect with roommates and discover the best food, booze and snacks in a neighborhood." %>
<% content_for :og_image, "https://nooklyn-files.s3.amazonaws.com/img/about.jpg" %>

<div class="nklyn-about-jumbotron">
  <i class="nklyn-icon-logo nklyn-7x"></i>
  <h1>Nooklyn</h1>
  <h2>Find your Nook</h2>
  <br>
</div>

<div class="about-page-container">
  <div class="container">
    <div class="standard-page-header">
      <%= image_tag 'nklyn-logo-alt.png', class: "logo-alt" %>
      <h3>About Us</h3>
      <h6>&nbsp;</h6>
      <p>Nooklyn is how people find apartments, connect with roommates and discover the best food, booze and snacks in a neighborhood.</p>
    </div>
  </div>
    <div class="team-section">
      <div class="container">
      <h2>Team</h2>
      <h6>&nbsp;</h6><br>
      <div class="row">
        <div class="col-sm-4 text-center">
          <%= image_tag '//nooklyn-files.s3.amazonaws.com/team/harley.jpg', class: "img-circle" %>
          <h4>Harley Courts</h4>
          <h5>Chief Executive Officer (CEO)</h5>
        </div>
        <div class="col-sm-4 text-center">
          <%= image_tag '//nooklyn-files.s3.amazonaws.com/team/joef.jpg', class: "img-circle" %>
          <h4>Joseph Friedman</h4>
          <h5>Chief Operating Officer (COO)</h5>
        </div>
        <div class="col-sm-4 text-center">
          <%= image_tag '//nooklyn-files.s3.amazonaws.com/team/moiz.png', class: "img-circle" %>
          <h4>Moiz K. Malik</h4>
          <h5>Chief Technology Officer (CTO)</h5>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-sm-4 text-center">
          <%= image_tag '//nooklyn-files.s3.amazonaws.com/team/joeg.jpg', class: "img-circle" %>
          <h4>Joe Gallo</h4>
          <h5>Lead Engineer, iOS</h5>
        </div>
        <div class="col-sm-4 text-center">
          <%= image_tag '//nooklyn-files.s3.amazonaws.com/team/alexd.jpg', class: "img-circle" %>
          <h4>Alexander Dimitriyadi</h4>
          <h5>Lead Engineer, Web Stack</h5>
        </div>
        <div class="col-sm-4 text-center">
          <%= image_tag '//nooklyn-files.s3.amazonaws.com/team/danh.jpg', class: "img-circle" %>
          <h4>Daniel Haire</h4>
          <h5>Lead Designer</h5>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-sm-4 text-center">
          <%= image_tag '//nooklyn-files.s3.amazonaws.com/team/andrew.jpg', class: "img-circle" %>
          <h4>Andrew Pratt</h4>
          <h5>Principal Broker</h5>
        </div>
        <div class="col-sm-4 text-center">
          <%= image_tag '//nooklyn-files.s3.amazonaws.com/team/diana.png', class: "img-circle" %>
          <h4>Diana Bartosik</h4>
          <h5>Finance</h5>
        </div>
        <div class="col-sm-4 text-center">
          <%= image_tag '//nooklyn-files.s3.amazonaws.com/team/molly.jpg', class: "img-circle" %>
          <h4>Molly Mosher</h4>
          <h5>HR Manager</h5>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-sm-4 text-center">
          <%= image_tag '//nooklyn-files.s3.amazonaws.com/team/doyle.jpg', class: "img-circle" %>
          <h4>Nicholas Doyle</h4>
          <h5>Photographer</h5>
        </div>
        <div class="col-sm-4 text-center">
          <%= image_tag '//nooklyn-files.s3.amazonaws.com/team/justin.jpg', class: "img-circle" %>
          <h4>Justin Losh</h4>
          <h5>Commercial Director</h5>
        </div>
        <div class="col-sm-4 text-center">
          <%= image_tag '//nooklyn-files.s3.amazonaws.com/team/kalman.jpg', class: "img-circle" %>
          <h4>Kalman Zimmerman</h4>
          <h5>Principal Broker</h5>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-sm-4 text-center">
          <%= image_tag '//nooklyn-files.s3.amazonaws.com/team/steve.jpg', class: "img-circle" %>
          <h4>Steve Schaefer</h4>
          <h5>Crown Heights Manager</h5>
        </div>
        <div class="col-sm-4 text-center">
          <%= image_tag '//nooklyn-files.s3.amazonaws.com/team/ruth.jpg', class: "img-circle" %>
          <h4>Ruth Linares</h4>
          <h5>Office Manager</h5>
        </div>
        <div class="col-sm-4 text-center">
          <%= image_tag '//nooklyn-files.s3.amazonaws.com/team/alexl.jpg', class: "img-circle" %>
          <h4>Alexandria Lust</h4>
          <h5>Listing Manager</h5>
        </div>
      </div>
    </div>
  </div>
</div>
