<div>
  <%= form_for [:cms, @gym_schedule], html: {class: "form-horizontal", role: "form"} do |f| %>
    <div class="action-buttons top">
      <%= render 'form_action' %>
    </div>

    <% if @gym_schedule.errors.full_messages.any? %>
      <div class="alert alert-danger alert-dismissible" role="alert">
        <% @gym_schedule.errors.full_messages.each do |msg| %>
          <p><%= msg %></p>
        <% end %>
      </div>
    <% end %>

    <div class="form-group">
      <label class="col-sm-2 control-label">Date</label>
      <div class="col-sm-10">
        <%= f.text_field :date, readonly: true, class: "form-control datepicker", value: "#{f.object.date.strftime("%Y-%m-%d") rescue DateTime.now.strftime("%Y-%m-%d")}" %>
        <span class="glyphicon glyphicon-remove clear_input hide"></span>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Summary</label>
      <div class="col-sm-10">
        <%= f.text_field :summary, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Body</label>
      <div class="col-sm-10">
        <%= f.text_area :body, class: "form-control", rows: 7 %>
      </div>
    </div>
  <% end %>
</div>

<%= form_for [:cms, @gym_schedule], method: :delete, html: {id: "delete_gym_schedule"} do |f| %>
<% end %>
