<h1 class="page-header">
  Menus
  <span class="pull-right">
    <a href="/cms/menus/new" class="btn btn-primary">
      <span class="glyphicon glyphicon-plus"></span>
      Add Menu
    </a>
  </span>
</h1>
<%= render 'layouts/cms/flashes' %>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>id</th>
        <th>Date</th>
        <th>Summary</th>
        <th>Created By</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <% @menus.each do |menu| %>
        <tr>
          <td><%= menu.id %></td>
          <td><%= menu.date %></td>
          <td><%= menu.summary %></td>
          <td><%= menu.admin_user.try(:email) %></td>
          <td><%= link_to "edit", edit_cms_menu_path(menu) %></td>
          <td><%= link_to "delete", cms_menu_path(menu), :method => :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
