<% content_for :title, "Update Password - Nooklyn: Apartments, Roommates, Neighborhoods in Brooklyn" %>
<div class="login-and-signup-container">
    <div class="text-center"><i class="nklyn-icon-logo nklyn-yellow nklyn-7x"></i></div>
    <h1 class="text-center">Update my Profile</h1>
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <%= render 'agents/side_navigation' %>
        </div>
        <div class="col-sm-8">
          <div class="form-well">
              <%= form_for(current_agent, as: current_agent, url: registration_path(current_agent), html: { method: :put }) do |f| %>
                <div class="field">
                  <%= f.password_field :password, class: "general-text-field-space-gray", autocomplete: "off", placeholder: "New Password" %>
                </div>
                <div class="field">
                  <%= f.password_field :password_confirmation, class: "general-text-field-space-gray", autocomplete: "off", placeholder: "New Password (Again)" %>
                </div>
                <hr>
                <div class="field">
                  <%= f.label :current_password, class: "general-text-label" %> <small><i>(this is to confirm your changes)</i></small><br />
                  <%= f.password_field :current_password, class: "general-text-field-space-gray", autocomplete: "off", placeholder: "Current Password" %></div>
                <Br>
                <div class="general_form_actions text-center">
                  <%= f.submit "Update", :class => 'button btn-black btn-3x' %>
                </div>
              <% end %>
          </div>
        </div>
      </div>
    </div>
</div>
