<% content_for :title, "Update my Profile - Nooklyn: Apartments, Roommates, Neighborhoods in Brooklyn" %>
<div class="login-and-signup-container">
    <div class="text-center"><i class="nklyn-icon-logo nklyn-yellow nklyn-7x"></i></div>
    <h1 class="text-center">Update my Profile</h1>
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <%= render 'agents/side_navigation' %>
        </div>
        <div class="col-sm-8">
          <div class="form-well">
            <%= devise_error_messages! %>
              <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                <div class="field">
                  <%= f.label :email, class: "general-text-label" %>
                  <%= f.email_field :email, class: "general-text-field-space-gray", placeholder: "Email" %>
                </div>
                <div class="field">
                  <%= f.label :first_name, class: "general-text-label" %>
                  <%= f.text_field :first_name, class: "general-text-field-space-gray", placeholder: "First Name" %>
                </div>
                <div class="field">
                  <%= f.label :last_name, class: "general-text-label" %>
                  <%= f.text_field :last_name, class: "general-text-field-space-gray", placeholder: "Last Name" %>
                </div>
                <div class="field">
                  <%= f.label :profile_picture, "Upload a picture of yourself", class: "general-text-label" %><br>
                  <%= f.file_field :profile_picture, class: "general-text-field" %>
                  <p class="form-help-block-space-gray">We recommend image dimensions of 500×500.</p>
                </div>
                <div class="field">
                  <%= f.label :phone, class: "general-text-label" %>
                  <%= f.telephone_field :phone, class: "general-text-field-space-gray", placeholder: "Phone Number (Optional)" %>
                </div>
                <hr>
                <div class="field">
                  <%= f.label :current_password, class: "general-text-label" %> <small><i>(this is to confirm your changes)</i></small><br />
                  <%= f.password_field :current_password, class: "general-text-field-space-gray", autocomplete: "off", placeholder: "Current Password" %></div>
                <Br>
                <div class="general_form_actions text-center">
                  <%= f.submit "Update", :class => 'button btn-black btn-3x' %>
                </div>
              <% end %>
          </div>
        </div>
      </div>
    </div>
</div>
